/* Fonts and base layout */
html {
  background-color: #fdfaf5;
}

body {
  text-align: center;
  margin: 0;
  padding: 20px;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

body.scroll-lock {
  overflow: hidden;
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 4rem;
  color: crimson;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.3;       /* Increased line-height for extra vertical space */
  padding-top: 5px;       /* Extra padding helps prevent clipping on top */
  overflow: visible;      /* Ensures any overflow is shown */
}

.description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 40px;
  line-height: 3;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

ol {
  list-style: none;
  padding: 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

li {
  margin-bottom: 4px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 900px;
}

label {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background 0.3s;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}

input[type="checkbox"] {
  margin-right: 12px;
  width: 18px;
  height: 18px;
  appearance: none;
  border: 2px solid crimson;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: crimson;
  border: none;
}

.button-container {
  margin-top: 30px;
}

.button {
  padding: 12px 20px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  background-color: rgb(222, 219, 219);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 10px;
}

.button:hover {
  background-color: rgba(255, 90, 90, 0.5);
}

.score {
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  color: crimson;
}

.category {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: #800000;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.info-icon {
  font-size: 0.9rem;
  color: #007BFF;
  cursor: pointer;
  margin-left: 5px;
  vertical-align: super;
  user-select: none;
}

/* Popup styles */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  width: 300px;
  text-align: left;
  border-radius: 10px;
}

/* Close button for popup */
.close-popup {
  cursor: pointer;
  color: red;
  font-weight: bold;
  float: right;
  font-size: 18px;
}